html
   head
      title Content
      link(rel="stylesheet", href="style.css")
   body
      //- include ./header.pug
      form(action="/")
        div
          p user
          input(type="text" name="user")
        div  
          p password
          input(type="text" name="password")
        div
          input(type="submit" value="submit")
      //- include ./footer.pug